nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 8vw;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

nav img {
  width: 150px;
  cursor: pointer;
}

.nav-grande {
  display: flex;
  align-items: center;
}

.nav-grande ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-grande ul li {
  margin-left: 30px;
}

.nav-grande ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-grande ul li a:hover {
  color: #FDC93B;
}

.navigation-movil {
  display: none;
  position: relative;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(21, 21, 100, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.menu.active {
  display: flex;
}

.menu li {
  list-style: none;
  padding: 15px 0;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.menu li a:hover {
  color: #FDC93B;
}


@media (max-width: 768px) {
  .nav-grande {
    display: none;
  }

  .navigation-movil {
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
  }
}